@import "./item-sheet.less";
.mightyprotectors.sheet.character {
    form {
        display: flex;
        flex-direction: column;
      }

    .rollable {
        cursor: pointer;
        text-shadow: 0 0 4px steelblue;
    }

    .rollable:hover {
        text-shadow: 0 0 8px red;
        color:black;
    }



     .roll-image {
        height: 24px;
        background-size: 24px;
        width: 24px;
     }
 
     .roll-image:hover {
         border: 0px;
         background-image: url("../../icons/svg/d20-black.svg") !important;
      }

    .important-stat {
        font-weight: bold;
    }
    
    /*  Sheet header */
    .sheet-header {
        flex: 0;
        margin-bottom: 5px;

        .charimage {
            height: 100px;
            width: 100px;
        }

        .item-subtitle {
            margin-left: 8px;

            .item-type {
                font-size: 10px;
                line-height: 14px;
            }
        }

        .header-stats {
            font-size: 14px;
            margin-left: 12px;
            display: grid;
            grid-template-columns: 70px 110px 110px 70px 85px 95px 100px;
            align-items: center;
 
            input[type="number"] {
                width: 30px;
                text-align: center;
              }

            .init-text {
                width: 60px;
            }

            .type-indicator {
                font-size: 11px;
            }
        }
    }

    
    /* sheet navigation */
    .sheet-navigation {
        height: 20px;
        flex: 0;
        margin-bottom: 10px;

        .item {
            height: 20px;
            border-bottom: 3px solid #b5b3a4;
        }

        .item.active {
            text-shadow: 0 0 10px #3a2aa6;
            border-bottom: 3px solid #44191A;
        }

        a:hover {
            text-shadow: 0 0 10px #3a2aa6;
            border-bottom: 3px solid #44191A;
        }

        .tabs {
            height: 50px;
        }
    }

  /* sheet body */
  .sheet-body {
    height: 100%;
    display: flex;
    flex-direction: column;

    .tab {
      height: 100%;
    }

    .stats {
        .stat-outer-grid {
            display: grid;
            grid-template-columns: 190px auto;

            .bc-grid {
                display: grid;
                grid-template-columns: 40px 30px 40px auto;
                align-items: center;
                row-gap: 1px;

                input[type="number"] {
                    width: 30px;
                    text-align: center;
                  }
            }

            .cp-grid {
                display: grid;
                grid-template-columns: 40px 110px;
                align-items: center;
                row-gap: 1px;

                input[type="number"] {
                    width: 30px;
                    text-align: center;
                  }

                .divider-top {
                    border-top: 1px solid black;
                    margin-top: 1px;
                    margin-bottom: 1px;
                }

                .totalcp {
                    width: 28px;
                    text-align: center;
                    padding-left: 3px;
                    padding-right: 3px;
                }

            }

            .other-grid {
                display: grid;
                grid-template-columns: 70px 90px;
                padding-top: 20px;
                align-items: center;
                row-gap: 1px;

                input[type="text"] {
                    width: 60px;
                    text-align: center;
                  }

                input[type="number"] {
                    width: 40px;
                    text-align: center;
                  }
            }


            .header-text {
                text-decoration: underline;
            }

            .item-header {
                background-color: lightgray;
            }


            .item-list {
                align-items: center;
                border: solid;
                border-radius: 5px;
                padding: 2px 8px 2px 8px;
                border-width: 1px;
            }

            /* abilities */
            .abilitycol1 {
                flex: 0 0 50px;
                align-items: center;
            }

            .abilitycol2 {
                flex: 0 0 250px;
                align-items: center;
            }

            .abilitycol3 {
                flex: 0 0 100px;
                align-items: center;
            }

            .abilitycol4 {
                flex: 0 0 50px;
                align-items: center;
            }

            .abilitycol5 {
                flex: 0 0 auto;
                align-items: center;
                margin-left:auto;
            }

            /* attacks */
            .attackcol1 {
                flex: 0 0 35px;
                align-items: center;                
            }

            .attackcol2 {
                flex: 0 0 150px;
                align-items: center;
            }

            .attackcol3 {
                flex: 0 0 50px;
                align-items: center;
            }

            .attackcol4 {
                flex: 0 0 90px;
                align-items: center;
            }

            .attackcol5 {
                flex: 0 0 90px;
                align-items: center;
            }

            .attackcol6 {
                flex: 0 0 50px;
                align-items: center;
            }

            .attackcol7 {
                flex: 0 0 auto;
                align-items: center;
                margin-left:auto;
            }

            /* protection */
            .protectcol1 {
                flex: 0 0 140px;
                align-items: center;
            }

            .protectcol-middle {
                flex: 0 0 55px;
                align-items: center;
            }

            .protectcol-other {
                flex: 0 0 120px;
                align-items: center;
            }

            .protectcol-controls {
                flex: 0 0 auto;
                align-items: center;
                margin-left:auto;
            }

            .movementcol-controls {
                flex: 0 0 auto;
                margin-left:auto;
            }

            .divider-top {
                border-top: 1px solid black;
                margin-top: 1px;
                margin-bottom: 1px;
            }
        }

        .caps-container {
            display: flex;
            justify-content: center;
        
            .caps {
                display: flex;
                flex-direction: row;
                gap: 10px;
                /* position: absolute;
                bottom: 0;    */            
            }
        }
    }


    .bio {
        display: grid;
        grid-template-columns: 430px 250px;
        row-gap: 1px;
        column-gap: 10px;


        .bio-grid {
            display: grid;
            grid-template-columns: 80px 120px 20px 80px 120px;
            align-items: center;
            row-gap: 1px;
 
            input[type="number"] {
                width: 80px;
              }

        }

        .backgrounds-grid {
            display: grid;
            row-gap: 1px;

            .item-list {
                align-items: center;
                border: solid;
                border-radius: 5px;
                padding: 2px 8px 2px 8px;
                border-width: 1px;
            }

            .header-text {
                text-decoration: underline;
            }

            .item-header {
                background-color: lightgray;
            }

            .background-col {
                flex: 0 0 180px;
                align-items: center;
            }

            .background-col-controls {
                flex: 0 0 auto;
                align-items: center;

            }
        }

    }

    .story {
        .editor {
            height: 90%;         
          }    
    }

  }
}